:host {
    display: block;
    min-height: 100vh;
    background-image: url("../../../../src/assets/images/signupBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
  }