:host {
  display: block;
  min-height: 100vh;
  background-image: url("../../../../src/assets/images/signupBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
